# Remove the line below if you want to inherit .editorconfig settings from higher directories
root = true


# CSharp files
# https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/?view=vs-2022
[*.cs]
csharp_style_namespace_declarations = file_scoped
csharp_prefer_braces = when_multiline
csharp_style_expression_bodied_constructors = when_on_single_line
csharp_style_expression_bodied_methods = when_on_single_line
csharp_style_expression_bodied_operators = when_on_single_line
dotnet_style_coalesce_expression = true
dotnet_style_explicit_tuple_names = true
csharp_style_var_for_built_in_types = true
sharp_style_var_when_type_is_apparent = true
dotnet_style_parentheses_in_arithmetic_binary_operators = always_for_clarity
dotnet_style_parentheses_in_relational_binary_operators = always_for_clarity
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity
dotnet_style_parentheses_in_other_operators = never_if_unnecessary
csharp_style_expression_bodied_lambdas = true
csharp_style_prefer_index_operator = true
csharp_style_prefer_range_operator = true
csharp_using_directive_placement = outside_namespace
csharp_style_prefer_switch_expression = true
dotnet_style_prefer_compound_assignment = true
csharp_style_prefer_top_level_statements = true
csharp_style_prefer_method_group_conversion = true
dotnet_style_prefer_collection_expression = true
csharp_style_prefer_primary_constructors = true
indent_style = space
indent_size = 4
tab_width = 4
charset = utf-8-bom
