.card {
    width: 91%;
    height: 91%;
    position: relative;
    cursor: pointer;
    transition: scale 0.3s ease-in-out;
}

.card:hover {
    scale: 1.1;
}

.video { 
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    border-radius: 2rem;
    border: 1rem solid #4d5358;
    box-shadow: 
    inset 0 0 10px rgba(255,255,255,0.1),
    inset 0 0 20px rgba(255,255,255,0.1),
    0 0 10px rgba(0,0,0,0.2);
    z-index: 20;
}

.videoBackground {
    z-index: 10;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: white;
    border-radius: 2rem;
    font-size: 7rem;
    font-weight: 600;
    -webkit-text-stroke: 0.5rem black;
    position: absolute;
    z-index: 100;
    transition: transform 0.1s ease-out, opacity 0.1s ease-out;
}

.animeTitle {
    z-index: 10;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: white;
    font-size: 2.5rem;
    font-weight: 600;
    -webkit-text-stroke: 0.2rem black;
    position: absolute;
    z-index: 100;
    animation: spin 0.5s ease-out;
}

.movingBorder {
    height: 2rem;
    width: 2rem;
    background-image: url("../../../../assets/images/slime_data.png");
    background-size: cover;
    background-repeat: round;
    position: absolute;
    animation: moveAround 10s infinite linear;
    z-index: 210;
}

@keyframes moveAround {
    0% {
        top: 0;
        left: 0;
    }
    25% {
        top: 0;
        left: calc(100% - 2rem);
    }
    50% {
        top: calc(100% - 2rem);
        left: calc(100% - 2rem);
    }
    75% {
        top: calc(100% - 2rem);
        left: 0;
    }
    100% {
        top: 0;
        left: 0;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}