
.year { 
    width: 20vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
}

.yearNumber {
    font-size: 4rem;
    font-weight: 600;
    color: #95b6d0;
    background: #494949;
    border-radius: 2rem;
    padding: 1rem;
}