.mainLayout { 
    display: flex;
    min-height: 93vh;
    flex-direction: column;
}

.mainLayout::before {
    background-image: url("../../../assets//images/main_background-AniPick_better.gif");
    background-size: cover;
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.mainContent {
    display: flex;
    height: 20vh;
}

.quizTitle { 
    max-width: 80vw;
    min-width: 79vw;
    height: 20vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 200;
}

.quizTitle h1 {
    font-size: 4rem;
    font-weight: 600;
    color: #95b6d0;
    background: #494949;
    border-radius: 2rem;
    padding: 1rem;
    margin-left: 25vh;
}

.backgroundTransition {
    min-width: 100vw;
    max-height: 70vh;
}

.playButton{
    display: flex;
    all: unset;
    cursor: pointer;
    position: absolute;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color: #333;
    text-align: center;
    color: white;
    font-size: 3rem;
    font-weight: 600;
    transition: scale 0.3s ease-in-out;
}

.playButton:hover{
    scale: 1.1;
}

.cardPicks {
    display: grid;
    height: 70vh;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    transition: opacity 0.5s ease-in-out;
}
    .cardPicks.fade-out {
        opacity: 0;
    }

    .cardPicks.fade-in {
        opacity: 1;
    }

    .cardPicksBackground {
        width: 100%;
        height: 100%;
        transition: opacity 0.5s ease-in-out;
        opacity: 0;
    }

    .cardPicksBackground.show {
        opacity: 1;
    }

.endingCharacterContener {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100%;
}

.endingCharacterContener  .backgroundTransition{
    z-index: 10;
    min-width: auto;
    cursor: pointer;
    transition: scale 0.3s ease-in-out;
}

.endingCharacterContener  .backgroundTransition:hover{
    scale: 1.1;
}

@media only screen and (max-width: 770px) {
    .mainLayout::before {
        background-size: contain;
        content: "";
    }

    .cardPicks {
        grid-template-columns: repeat(2, 1fr);
    }

    .mainContent {
        align-items: center;
        justify-content: center;
    }

    .quizTitle { 
        max-width: 80vw;
        min-width: 79vw;
        height: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 200;
    }
    
    .quizTitle h1 {
        font-size: 2rem;
        font-weight: 600;
        color: #95b6d0;
        background: #494949;
        border-radius: 2rem;
        padding: 1rem;
        margin: 0;
    }

    .backgroundTransition {
        max-width: 20rem;
        max-height: 70svh;
    }

    .endingCharacterContener {
        max-width: 20rem;
        max-height: 70svh;
    }
}