.container {
    display: flex;
    min-height: 94vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form { 
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}