* {
  box-sizing: border-box;
}

:root {
  --video-background-1-start: #ff7a18;
  --video-background-1-end: #af002d;
  --video-background-2-start: #4481eb;
  --video-background-2-end: #04befe;
  --video-background-3-start: #c33764;
  --video-background-3-end: #1d2671;
  --video-background-4-start: #4b6cb7;
  --video-background-4-end: #182848;
  --video-background-5-start: #134e5e;
  --video-background-5-end: #71b280;
  --video-background-6-start: #4ca1af;
  --video-background-6-end: #c4e0e5;
}

body{
  margin: 0;
  font-family: "Lexend Deca", sans-serif;
}

.active {
  color: #95b6d0 !important;
}