.header {
    min-height: 6vh;
    max-height: 6vh;
    background: #191919;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.175); 
    z-index: 300;
    position: relative;
}

.nav {
    min-height: 6vh;
    max-height: 6vh;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
    min-height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
    font-weight: 600;
}

.nav a:hover {
    color: #95b6d0;
}

.siteTitle {
    font-size: 1.8rem;
}