.header {
    min-height: 6vh;
    max-height: 6vh;
    background: #191919 !important;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.175); 
    z-index: 300;
    position: relative;
}

.nav {
    min-height: 6vh;
    max-height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navLinks {
    display: flex;
    gap: 1rem;
}

.navLink {
    color: white;
    text-decoration: none;
    font-weight: 600;
    min-height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.navLink:hover {
    color: #95b6d0;
}

.active {
    color: #95b6d0 !important;
}

.siteTitle {
    font-size: 1.8rem;
    color: white;
    text-decoration: none;
}