.container {
    display: flex;
    min-height: 94vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #191919;
}

.userData {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    min-height: 40vh;
    background-color: #0f1214;
    padding: 1rem;
    color: #1976d2;
    border-radius: 1rem;
}